@font-face {
    font-family: 'castoro_titlingregular';
    src: url('font/castorotitling-regular-webfont.woff2') format('woff2'),
         url('font/castorotitling-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* separate the web page into three parts: header, body, footer */
header {
    font-size: 16px;
    background-color: white
}

body {
    background-color: rgb(252, 252, 252);
}

@media (max-width: 1250px) {
    header {
      background-color: lightgreen;
    }
}

h1 {
    color: rgb(77, 77, 77);
    font-size: 2em;
    height: 1em;
}

h2 {
    color: #4d4d4d;
    font-size: 1.5rem;
    height: 8mm;
    text-decoration: underline;
}

p {
    color: hsl(0, 0%, 30%);
    font-size: 100%;
    line-height: 10q;
    max-height: 500px;
    width: 800px;
    display: inline-block;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    /* padding: .5em, 1.5em, .5em, .5em; */
    border-style:groove;
    border-color: blueviolet;
    border-width: 2px;
    border-radius: .5cm;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    column-gap: 20px;
}

ol {
    margin: 10px, 10px, 10px, 10px;
    border-style: inset;
    border-width: 2px;
    border-color: rgb(149, 65, 174);
    padding-top: .5em;
    padding-right: 1.5em;
    padding-bottom: .5em;
    padding-left: 1.5em;
    display:grid;
    column-gap: 10px;;
    row-gap: 20px;
    align-items: stretch;
}

li {
    margin: 0.5em;
    text-align: center;
    border-style:dotted;
    max-width: 200em;
    display:block;
}

#bk {
    position: static;
    left: 20px;
}
#hp {
    position: relative;
    left: 20px;
}

.p1 {
    font-family: 'castoro_titlingregular';
}

a:link {
    color: blue;
}
  
a:visited {
    color: rgb(147, 0, 86);
}
  
a:hover {
    color: hotpink;
}

a:active {
    color: blueviolet;
}